# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Visual Studio Code
# ==========================

.vscode/

# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# ==========================
# Node.js
# ==========================

node_modules/
dist/
build/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Coverage
# ==========================

.coverage
htmlcov/

# ==========================
# Docker
# ==========================

*.pid

# ==========================
# IDE
# ==========================

.idea/

# ==========================
# Temporary files
# ==========================

*.tmp
*.bak