.avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    border-radius: 50%;

    object-fit: cover;

    font-weight: 700;
    color: white;
}

.avatar--sm {
    width: 32px;
    height: 32px;

    font-size: 12px;
}

.avatar--md {
    width: 44px;
    height: 44px;

    font-size: 15px;
}

.avatar--lg {
    width: 96px;
    height: 96px;

    font-size: 32px;
}
