.playground-events-list__back {
    display: inline-block;
    margin-bottom: var(--space-4);

    font-size: var(--font-size-sm);
    font-weight: 600;

    color: var(--color-text-secondary);
}

.playground-events-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}
